@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode-Regular.woff2');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: #000;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speedometer-fg {
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 28vh;
    height: 28vh;
    background-color: #000;

    border-radius: 180px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.speedometer-bg {
    z-index: 0;

    width: 30vh;
    height: 30vh;

    position: absolute;

    background: conic-gradient(
        hsl(0, 100%, 50%),
        hsl(30, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(90, 100%, 50%),
        hsl(220, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(0, 100%, 50%)
    );

    border-radius: 180px;
}

.spin-animation {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.speedometer-text {
    font-family: 'FiraCode';
    font-feature-settings: 'cv11';
    color: #fff;

    user-select: none;
}

.speedometer-value {
    font-size: 4rem;
}

.speedometer-units {
    position: absolute;
    top: 53vh;

    font-size: 0.9rem;
}

.noscript-text {
    position: fixed;

    top: 5vh;
    text-align: center;

    width: 100%;

    font-family: 'FiraCode';
    font-size: 2rem;
    color: #fff;
}